/* body {
    background-color: blueviolet;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

header {
    background-color: #FFFFFF;
}

nav {
    margin: 16px 120px 16px 120px;
    display: flex;
    justify-content: space-between;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    margin: 34px auto;
    font-size: 16px;
    font-weight: 500px;
    color: #000000;
}

.btn {
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    margin: 24px 120px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
}

.btn:hover {
    background-color: rgba(63, 81, 181, 1);
}

/* hero-section */
#hero-section {
    position: relative;
    min-height: 674px;
    width: 100%;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 155.5px 120px 179.5px;
}

.hero-inner {
    max-width: 680px;
}

.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    /* border: 1px solid red; */
    padding: 8px 12px 8px 12px;
    background-color: #FFFFFF;
    border-radius: 1000px;

}

.badge img {
    position: relative;
}

.overlap-icon-middle {
    margin-left: -8.5px;
    z-index: 3;
}

.overlap-icon-bottom {
    margin-left: -14.5px;
    z-index: 5;
}

.badge span {
    margin-left: 6px;
}

.hero-inner h1 {
    font-size: 61.5px;
    line-height: 71.5px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 16px;
}

.green-text {
    color: #30B868;
}

.hero-inner p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 32px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-primary {
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
}

.btn-primary:hover {
    background-color: #28a05a;
}


.fa-arrow-right {
    padding: 0;
    margin-left: 10px;
}

.btn-secondary {
    border: 1px solid white;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
}

.btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.fa-play {
    padding: 0;
    margin-right: 10px;
}


.skills {
    padding: 0;
    margin: 0px 120px 44px;
}

.skills .skills-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

.skills .skills-container .skill-box {
    display: flex;
    gap: 24px;
}

.skill-box .skill-card {
    box-shadow: 0 3px 20px 0 #8886863a;
    max-width: 322px;
    text-align: center;


}

.section-heading {
    margin: 0 auto;
    text-align: center;
}

.section-heading h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
    margin-top: 32px;

}

.section-heading p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 44px;
}


.icon {
    background-color: #F95555;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-size: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 13px;
    margin-top: 69.5px;
    margin-left: 131px;
    margin-right: 131px;

}



.skill-card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin: 16px 24px;
}

.skill-card p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 69.5px;
    margin-left: 24px;
    margin-right: 24px;
    line-height: 20px;
}

.solution-section {
    padding: 120px 0;
    background-color: #FFFFFF;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1360px;
    margin: 0 auto;
    gap: 60px;
}

.solution-image {
    max-width: 600px;
}

.solution-content {
    max-width: 700px;
}

.style {
    font-size: 16px;
    font-weight: 500;
    margin-top: 102px;
    margin-bottom: 16px;
    color: #30B868;
}

.solution-content h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.solution-content p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 40px;

}

.features-list {
    list-style: none;
    padding: 0;
}

.features-list li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 16px;
    color: #000000;
}

.icon-cheak {
    margin-right: 6px;
}