/* body {
    background-color: blueviolet;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

header {
    background-color: #FFFFFF;
}

nav {
    margin: 16px 120px 16px 120px;
    display: flex;
    justify-content: space-between;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    margin: 34px auto;
    font-size: 16px;
    font-weight: 500px;
    color: #000000;
}

.btn {
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    margin: 24px 120px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
}